/*sets all the margings and padding for the entier page to 0 */
* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/*will create the bar at the top of the page */


/*controls the banner name */
nav .navLogo p {
    font-size: 30px;
    font-weight: bold;
    float: left;
    color: black;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    cursor: pointer;
    margin-top: 25px;
    margin-left: 10px;

}


nav .navLogo img {
    float: left;
    border-radius: 50%;
    margin-top: 10px;
    margin-left: 10px;
    animation: none;

}

/* Controls the about, exp, and connct menu in the middle */
nav .navLogo ul {
    padding-top: 50px;
    padding-left: 300px;
    background-color: rgb(139, 139, 139);
    border-bottom: 1px solid black;

}

/* makes it so the middle name is in line and has not bullet style next to it */
nav .navLogo li {
    display: inline-block;
    list-style: none;

}

/* controls the actual text in the middle of the name */
nav .navLogo li a {
    font-size: 18px;
    text-transform: uppercase;
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-weight: bold;
    margin: 30px;
}


nav li a:hover {
    transition: all 0.8s ease;
    color: rgb(255, 255, 255);
}


/* controls the images on the right hand side */
.img ul li {
    float: right;
    margin-top: -65px;
    width: 60px;
    height: 75px;
    list-style: none;

}

img {
    height: 50px;
}




img:hover {
    animation: spin 1s;
    animation-iteration-count: infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    10% {
        transform: rotate(36deg);
    }

    20% {
        transform: rotate(72deg);
    }

    30% {
        transform: rotate(108deg);
    }

    40% {
        transform: rotate(144deg);
    }

    50% {
        transform: rotate(180deg);
    }

    60% {
        transform: rotate(216deg);
    }

    70% {
        transform: rotate(252deg);
    }

    80% {
        transform: rotate(288deg);
    }

    90% {
        transform: rotate(324deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* =============== Everything below here will be for the about section and lower ========*/
/*places an image as the background*/
body {
    background-color: antiquewhite;
    height: 100vh;
    background-size: cover;
    background-position: center;

}


h1,
h2,
h3 {
    font-size: 40px;
    margin-left: 150px;
    text-transform: uppercase;

}

.about p {
    background-color: azure;
    margin-left: 10%;
    padding: 5px 5px;
    inline-size: 75%;
    list-style: none;
    width: 80%;
}

.about,
.exp,
.mySkills {
    margin-top: 5%;
}

/*controlls the experiance tab */
.container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-left: 10%;
    margin-right: 10%;
    /* font-weight: bold; */
    background-color: azure;

}

.exp li:nth-child(1) {
    align-self: center;
    list-style: none;
    margin: 0.5%;
    /* background-color: rgb(189, 186, 186); */

}


/*controls the position I helped li element */
.exp li:nth-child(2) {
    float: right;
    list-style: none;
    margin: -1.7% 1%;
}

/*controls the multiple li elements under the role title */
.exp li:nth-child(3),
.exp li:nth-child(4),
.exp li:nth-child(5),
.exp li:nth-child(6),
.exp li:nth-child(7) {
    margin-left: 15%;
    font-size: 18px;

}


/* below will control the ul and all the li for the Skills section of the page */

.skill_list {
    background-color: azure;
    margin-left: 10%;
    padding: 10px 25px;
    inline-size: 80%;
    margin-bottom: 2%;
}

.skill_list ul {
    display: grid;
    grid-template-columns: repeat(4, 25%);

}

.skill_list li {
    margin: 0.5% 0%;
}




#connections {
    /*will keep hidden for now - Connections is being displayed at the top right of page */
    display: inline-block;
    display: none;
}


/* Everything below here is for the lower banner and leave a message */
.lower-banner {
    background-color: azure;
}

.Containers {
    display: grid;
    flex-direction: column;
    grid-template-columns: repeat(2, 25%);
    column-gap: 50px;
    flex-wrap: wrap;
    margin-left: 9%;
}

#name {
    height: 50px;
    width: 100%;
}

#email {
    height: 50px;
    width: 100%;
}

#userMessage {
    width: 150%;
    height: 80px;
    margin-top: 10px;
    /* margin-top: 25%;
    margin-left: -232%;
    width: 233%;
    height: 100px; */
}


label[for='name'],
label[for='email'],
label[for="message"] {
    display: none;
}

.subButton {
    overflow: auto;
    font-size: 1vw;
    width: 30%;
    height: 40%;
    border-radius: 15px;
    background-color: rgb(140, 248, 198);
    margin-left: 45%;
    margin-top: 12%;

}

.subButton:hover {
    transition: all 0.2s ease;
    background-color: rgb(10, 190, 106);
    cursor: pointer;

}

.messages_section ul {
    display: flex;
    flex-direction: row;
    margin-left: 10%;


}


#messages li {
    font-size: 20px;
    border: 1px solid black;
    list-style: none;
    display: inline;
    margin-right: 10px;
}

#remove_button {
    padding: 5px 15px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    transition: all 0.2s ease;
    color-scheme: light dark;


}

#edit_button {
    padding: 5px 15px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    transition: all 0.2s ease;
    color-scheme: light dark;
}



/*==================Below controls the Project section ============*/

 .project_container {
    margin-left: 10%;
    padding: 10px 5px;
    margin-top: 1%;
    margin-bottom: 2%;
    
}

.project_container a:link {
    text-decoration: none;
}

.project_container ul {
    display: grid;
    grid-template-columns: repeat(4, 20%);
    column-gap: 5%;
    row-gap: 5%;
    

}


.project_container button {
    overflow: auto;
    font-size: 20px;
    border-radius: 30px;
    white-space: normal;
    overflow-wrap: break-word;
    background-color: rgb(140, 248, 198);
    
}

.project_container button:hover {
    background-color: rgb(10, 190, 106);
}


/*=========== Footer section =================================*/

footer {
    background-color: rgb(139, 139, 139);
}


/*================ Below is the @media section ===============*/

@media all and (max-width: 800px) {  /* will work for all media devices under 800px screen width*/
    nav .navLogo ul {
        background-color: aqua;
        padding-left: 0px;
        margin: 0% 0px;

    }


    .img ul li {
        float: right;
        display: block;
        margin-top: -65px;
        width: 30px;
        height: 75px;
        list-style: none;

    }



    .navHeader ul li a {
        font-size: small;
        margin-right: -20px;
    }



    img {
        height: 25px;
    }

    h1,
    h2,
    h3 {
        font-size: 20px;
        justify-content: left;

    }

    .about p {
        font-size: 12px;
    }

    body {
        background-color: rgb(247, 246, 199);
    }

    .skill_list ul {
        display: grid;
        grid-template-columns: repeat(2, 50%);
        font-size: 15px;
        font-weight: lighter;
        margin-left: 18px;

    }

    .container {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-evenly;
        margin-left: 10%;
        margin-right: 10%;
        font-size: 15px;
        background-color: azure;

    }

    .exp li:nth-child(3),
    .exp li:nth-child(4),
    .exp li:nth-child(5),
    .exp li:nth-child(6),
    .exp li:nth-child(7) {
        margin-left: 15%;
        padding-top: 20px;
        font-size: 12px;


    }

    .exp li:nth-child(2) {
        float: left;
        list-style: none;
        margin: 0% 15px;


    }

    

    #name, #email {
    text-overflow: ellipsis;
    }
    .subButton {
        font-size: 12px;
        overflow: auto;
        margin-left: 33%;
        width: 80px;
        margin-top: 50px;
        text-overflow: ellipsis;
    } 

    .project_container {
        margin-left: 10%;
        padding: 10px 5px;
        
    }
    
    
    .project_container button {
        font-size: 10px;
        
    }


}

@media screen and (max-width: 390px ) {

    nav .navLogo {
        height: 100%;
        width: 100px;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: #111;
        overflow-x: hidden;
        /* padding-top: 16px; */
      }

      nav .navLogo p {
        color: #f3f3f3;
        font-size: 12px;
        margin-left: 35px;
        margin-top: -15px;
      }
      

      nav .navLogo ul {
        background-color: #111;
      }

      nav .navLogo li a {
        text-decoration: none;
        font-size: 12px;
        float: left;
        color: #f3f3f3;
        margin-left: 5px;
        width: 70px;
        
      }


      /* .img ul li {
        float: right;
        margin-top: -65px;
        width: 60px;
        height: 75px;
        list-style: none;
    
    } */
    
    img {
        height: 50px;
    }  

    body {
        background-color: rgb(139, 139, 139);
        margin-left: 100px;
        
    } 

    .project_container {
        margin-left: 10%;
        padding: 10px 5px;        
    }

    .project_container ul a {
        color: #f3f3f3;
        font-size: 6px;
    }

    .project_container button {
        font-size: 8px;
        font-weight: bold;
        background-color: rgb(59, 59, 59);
        
    }

    .mySkills li {
        font-size: 10px;
    }

    h1, h2, h3 {
        margin-left: 30%;
    }

    .lower-banner h2 {
        margin: 0;
        padding-left: 40px;
    }

    .Containers {
        /* position: fixed; */
        margin: 0;
        height: 120px;

    }


    #name {
        margin: 0;
        height: 30px;
        width: 190%;
        padding-left: 2px;
        margin-left: 2px;
        font-size: 10px;

    }

    #email {
        margin: 0;
        height: 30px;
        width: 190%;
        padding-left: 2px;
        margin-left: 23px;
        font-size: 10px;
    }
      
    #userMessage {
        height: 50px;
        width: 383%;
        padding-left: 2px;
        margin-left: 4px;
        margin-top: -8px;
        font-size: 10px;

    }

    .subButton {
        /* margin: 0; */
        float: left;
        bottom: 0%;
        height: 20px;
        margin-left: -20px;
        background-color: azure;
    }

}