/*sets all the margings and padding for the entier page to 0 */
* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/*will create the bar at the top of the page */


/*controls the banner name */
nav .navLogo p {
    font-size: 30px;
    font-weight: bold;
    float: left;
    color: black;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    cursor: pointer;
    margin-top: 25px;
    margin-left: 10px;
    
}


nav .navLogo img {
    float: left;
    border-radius: 50%;
    margin-top: 10px;
    margin-left: 10px;
    animation: none;

}
 /* Controls the about, exp, and connct menu in the middle */
nav .navLogo ul {
    padding-top: 50px;
    padding-left: 300px;
    background-color: rgb(139, 139, 139);
    border-bottom: 1px solid black;

}

/* makes it so the middle name is in line and has not bullet style next to it */ 
nav .navLogo li {
    display: inline-block;
    list-style: none;

}

/* controls the actual text in the middle of the name */ 
nav .navLogo li a{
    font-size: 18px;
    text-transform: uppercase;
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-weight: bold;
    margin: 30px;
}


nav li a:hover {
    font-size: 40px;
    transition: all 0.8s ease;
    color: rgb(255, 255, 255);
    font-size-adjust: 40px;
}


/* controls the images on the right hand side */
.img ul li{
    float: right;
    margin-top: -65px;
    margin-left: -20;
    width: 60px;
    height: 75px;    
    list-style: none;

}
img {
    height: 50px;
}




img:hover {
    animation: spin 1s;
    animation-iteration-count: infinite;
  }
  
  @keyframes spin {
    0% { transform:  rotate(0deg); }
    10% { transform: rotate(36deg); }
    20% { transform: rotate(72deg); }
    30% { transform: rotate(108deg); }
    40% { transform: rotate(144deg); }
    50% { transform: rotate(180deg); }
    60% { transform: rotate(216deg); }
    70% { transform: rotate(252deg); }
    80% { transform: rotate(288deg); }
    90% { transform: rotate(324deg); }
    100% { transform: rotate(360deg); }
  }

/* =============== Everything below here will be for the about section and lower ========*/
 /*places an image as the background*/
body {
    /*background-image: url(../images/newyork.jpg);*/
    background-color: antiquewhite;
    height: 100vh;
    background-size: cover;
    background-position: center;

}


h1, h2, h3 {
    font-size: 40px;
    margin-left: 150px;
    text-transform: uppercase;
 
}

.about p {
    background-color: rgb(187, 185, 185);
    margin-left: 10%;
    padding: 5px 5px;
    inline-size: 75%;
    list-style: none;
}

.about , .exp, .mySkills {
    margin-top: 5%;
}


.exp ul:nth-child(2) {
    background-color: rgb(187, 185, 185);
    margin: 0px 10%;
    inline-size: 75%;
    font-size: 20px;

}

.exp ul:nth-child(3) {
    background-color: rgb(252, 252, 252);
    margin: 0px 10%;
    inline-size: 75%;
    font-size: 20px;
 
 }

 .exp ul:nth-child(4) {
    background-color: rgb(187, 185, 185);
    margin: 0px 10%;
    inline-size: 75%;
    font-size: 20px;
 
 }
 

.exp li:nth-child(1) {
    display: inline-block;
    font-weight: bold;
    margin: 0.2% 1%;
}



/*controls the position I helped li element */
.exp li:nth-child(2) {
    float: right;
    list-style: none;
    font-weight: bold;
    margin: 0.2% 1%;


}

/*controls the multiple li elements under the role title */
.exp li:nth-child(3), .exp li:nth-child(4), .exp li:nth-child(5), .exp li:nth-child(6), .exp li:nth-child(7)  {
    margin-left: 15%;
    font-size: 15px;
    
}


/* below will control the ul and all the li for the Skills section of the page */
#skills ul {
   /* background-color: rgb(187, 185, 185);*/
    position: left;
    margin: 0.2% 10%;
    inline-size: 75%;
    list-style: none;
    display: inline-block;
    font-weight: bolder;
}


#skills li:nth-child(1) {
    list-style: disc;
    float: left;
    width: 15%;
    margin: 0.5% 50px;
    font-size: 20px;
}

#skills li:nth-child(2) {
    list-style: disc;
    float: right;
    width: 15%;
    margin: 0.5% 50px;
    font-size: 20px;
    
}

#skills li:nth-child(3) {
    list-style: disc;
    float: left;
    width: 15%;
    margin: 0.5% 50px;
    font-size: 20px;
}

#skills li:nth-child(4) {
    list-style: disc;
    float: left;
    width: 25%;
    margin: 0.5% 50px;
    font-size: 20px;
    text-align:initial
}



#connections { /*will keep hidden for now - Connections is being displayed at the top right of page */
    display: inline-block;
    display: none;
}


/* Everything below here is for the lower banner and leave a message */ 
.lower-banner {
    background-color: azure;
    
}

.name, .email {
    display: inline-block;
    font-display: none;
    margin: 0.5% 1.5%;


}

#userMessage {
    width: 30%;
    height: 100px;
    margin-left: 1.5%;

}

#email, #name {
    width: 114%;
    height: 30px
}

label[for='name'], label[for='email'], label[for="message"] {
    display: none;
}

.subButton {
    display: right;
    margin-left: 27%;
    bottom: -26%;
    size: 30px;
    width: 5%;
    height: 2.5%;
    border-radius: 12px;
    background-color: rgb(240, 236, 236);   
    padding-bottom: 5px; 
    text-align: center;
    font-weight: bold;
}

.subButton:hover {
    transition: all 0.2s ease;
    background-color: rgb(187, 185, 185);
    cursor: pointer;    

}

#messages li {
    font-size: 20px;
    border-width: 20px;
    border-color: black;
    margin: 1% 30px;
    list-style:symbols();
}

#remove_button {
    padding: 5px 15px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    transition: all 0.2s ease;
    color-scheme: light dark;


}

#edit_button {
    padding: 5px 15px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    transition: all 0.2s ease;
    color-scheme: light dark;
}


#edit_button:hover, #remove_button:hover {
    padding-left: 50px;
    padding-right: 50px;
}
/*=========== Footer section =================================*/

footer {
    background-color: rgb(139, 139, 139);
}